// Blacks
$jet: #181818;
$inkstone: #3D3D3D;
$slate: #5D5D5D;
$graphite: #666666;

// Whites
$white: #FFFFFF;
$porcelain: #F7F7F7;
$silk: #CCC;
$ash: #878787;

// Purples
$aubergine: #315bef;
$purple: #315bef;
$light_aubergine: #315bef;
$mid_aubergine: #315bef;
$dark_aubergine: #315bef;

// Reds
$red: #c7162b;

// Oranges
$orange: #315bef;

// Yellows
$yellow: #f99b11;

// Greens
$green: #0e8420;

// Blues
$blue: #19B6EE;
$linkblue: #007aa6;
$darkblue: #335280;


// Semantic colors
$primary_accent_bg_color: $orange;
$primary_accent_fg_color: $white;
$secondary_accent_bg_color: $aubergine;
$secondary_accent_fg_color: $white;
